/* sidebar */
.widget-area ul {
	list-style-type: none;
	padding: 0;
}

.widget-area ul li {
	font-size: 25px;
	font-family: sans-serif;
	background-color: white;
	border: 2px solid black;
	letter-spacing: 0.1em;
	width: 12em;
	height: 1.5em;
	overflow: hidden;
	margin: 0.5em;
	cursor: pointer;
}

.widget-area ul li span {
  color: antiquewhite;
	mix-blend-mode: difference;
}

.widget-area ul li a{
  color: antiquewhite;
  mix-blend-mode: difference;
}

.widget-area ul li::before {
	content: '';
	position: absolute;
	width: 1.5em;
	height: inherit;
	background-color: rgb(31, 68, 34);
	border-radius: 50%;
	top: 0;
	left: -0.75em;
	transition: 0.5s ease-out;
}

.widget-area ul li:hover::before {
	transform: scale(7);
}

.widget-area li {
  position: relative;
 
} 
.widget-area li a {
  display: block;
  text-decoration: none;
  color: #212529;
  text-align: left;
  position: relative;
 
}
.widget-area li:hover > a {
  /* color: #e67e22; */
}

/* sidebar title */

.widget-title {
  max-width: max-content;
  padding: 3%;
}

/* site title */

.site-title{
  padding: 0px;
  /* font-family: 'Dancing Script', cursive; */
  font-size: 30px;
  text-decoration: none;
  color:#e67e22;
  }
.site-title a:hover{
  color:#e67e22;
  text-decoration: none;
}
.site-title :link a{
  color:#e67e22;

}
.site-title :visited{
	color: #404040;
}

.site-title :active{

}
/* footer */

 
.site-footer {
  color: white;
  background-color: rgb(83, 75, 60);
  display: block;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  bottom:0;
}

.footer-widget-title {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  color: rgb(255, 253, 253);
  text-align: left;
  height: 36px;
  position: relative;
}
#footer-sidebar ul li a:hover{
color: #ac8768;
text-decoration: none;
}

#footer-sidebar{
  color: rgb(255, 255, 255);
}
#footer-sidebar ul li a{
  color: rgb(255, 255, 255);
}
#prev a{
  color: rgb(255, 255, 255);
}

.footer-widget ul li{
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  color: rgb(255, 255, 255);
  text-align: left;
  height: 36px;
  position: relative;
  list-style-type: none;
}
.site-info a:visited{ 
  color: rgb(255, 255, 255);
}

/* entry title */

.entry-title{

}
.entry-title a:hover{
		color:#e67e22;
		text-decoration: none;
	  }
.entry-title :link a{
		color:#e67e22;
	  
	  }
.entry-title :visited{
		  color: #404040;
	  }
	  /* entry date published */

.entry-date {
	color: #404040;
}	  
.entry-header div span a:visited:hover,
.entry-header div span a:active:hover{
	color:#e67e22;
	text-decoration: none;
	  
}	  
.entry-header div span a:visited{
	color: #404040;
}
.entry-date a:hover{
	color:#e67e22;
}
