/* site header menu */

.main-navigation ui a.active strong {
  display:block;
  font-size:10px;
  padding:3px 0;
  position:absolute;
  bottom:0px;
  left:0;
  background:#e67e22;
  color:#FFF;
  min-width:100%;
  text-transform:lowercase;
  font-weight:normal;
  text-align:center;
}

.widget-area li {
  position: relative;
 
} 
.widget-area li a {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  color: #777;
  text-align: left;
  height: 36px;
  position: relative;
  border-bottom: 1px solid #EEE;
 
}
.widget-area li a i {
  float: left;
  font-size: 20px;
  
}

.widget-area li a p {
  float: left;
  margin: 0 ;
}

.widget-area li a strong {
  display: block;
  text-transform: uppercase;
}
.widget-area li a small {
  display: block;
  font-size: 10px;
}

.widget-area li:hover > a {
  color: #e67e22;
}
.widget-area li a.active {
  position: relative;
  color: #e67e22;
  border:0;
  box-shadow: 0 0 5px #DDD;
  -moz-box-shadow: 0 0 5px #DDD;
  -webkit-box-shadow: 0 0 5px #DDD;
  border-left: 4px solid #e67e22;
  border-right: 4px solid #e67e22;
  margin: 0 -4px;
}
.widget-area li a.active:before {
  content: "";
  position: absolute;
  top: 42%;
  left: 0;
  border-left: 5px solid #e67e22;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.widget-area li a.active:after {
  content: "";
  position: absolute;
  top: 42%;
  right: 0;
  border-right: 5px solid #e67e22;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.widget-area li ul,
.widget-area li ul li ul {
    -style: none;
  position: absolute;
  height: auto;
  min-width: 200px;
  padding: 0;
  margin: 0;
  background: #FFF;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  z-index: 1000;
  left:280px;
  top: 0px;
  border-left: 4px solid #e67e22;

}
.widget-area li ul:before {
  content: "";
  position: absolute;
  top: 25px;
  left: -9px;
  border-right: 5px solid #e67e22;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}
.widget-area li:hover > ul,
.widget-area li ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  left:250px;
}

.widget-area li ul li a {
  padding: 10px;
  text-align: left;
  border: 0;
  border-bottom: 1px solid #EEE;
  height: auto;
}
.widget-area li ul li a i {
  font-size: 16px;
  display: inline-block;
  margin: 0 10px 0 0;
}
.widget-area li ul li ul {
  left: 230px;
  top: 0;
  border: 0;
  border-left: 4px solid #e67e22;
}  
.widget-area li ul li ul:before {
  content: "";
  position: absolute;
  top: 15px;
  left: -9px;
  border-right: 5px solid #e67e22;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}
.widget-area li ul li:hover > ul {
  top: 0px;
  left: 200px;
}

.widget-area li a.search {
  padding: 10px 10px 15px 10px;
  clear: both;
}
.widget-area li a.search i {
  margin: 0;
  display: inline-block;
  font-size: 18px;
}
.widget-area li a.search input {
  border: 1px solid #EEE;
  padding: 10px;
  background: #FFF;
  outline: none;
  color: #777;
  width:170px;
  float:left;
}
.widget-area li a.search button {
  border: 1px solid #e67e22;
  background: #e67e22;
  outline: none;
  color: #FFF;
  margin-left: -4px;
  float:left;
  padding: 10px 10px 11px 10px;
}
.widget-area li a.search input:focus {
  border: 1px solid #e67e22;
}


.search-mobile { 
	display:none !important;
	background:#e67e22;
	border-left:1px solid #e67e22;
	border-radius:0 3px 3px 0;
}
.search-mobile i { 
	color:#FFF; 
	margin:0 !important;
}


@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .widget-area {
		margin-left:10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .widget-area {
		width: 200px;
	}
	.widget-area li a {
		height:30px;
	}
	.widget-area li a i {
		font-size: 22px;
	}
	.widget-area li a strong {
		font-size: 12px;
	}
	.widget-area li a small {
		font-size: 10px;
	}	
	.widget-area li a.search input {
		width: 120px;
		font-size: 12px;
	}
	.widget-area li a.search buton{
		padding: 8px 10px 9px 10px;
	}
	.widget-area li > ul {
		min-width:180px;
	}
	.widget-area li:hover > ul {
		min-width:180px;
		left:200px;
	}
	.widget-area li ul li > ul, .widget-area li ul li ul li > ul {
		min-width:150px;
	}
	.widget-area li ul li:hover > ul {
		left:180px;
		min-width:150px;
	}
	.widget-area li ul li ul li:hover > ul {
		left:150px;
		min-width:150px;
	}
	.widget-area li ul a {
		font-size:12px;
	}
	.widget-area li ul a i {
		font-size:14px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.widget-area { 
		width: 50px;
	}
	.widget-area li a { 
		position: relative;
		padding: 12px 16px;
		height:20px;
	}
	.widget-area li a small { 
		display: none;
	}
	.widget-area li a strong { 
		display: none;
	}
	.widget-area li a:hover strong,.widget-area li a.active strong {
		display:block;
		font-size:10px;
		padding:3px 0;
		position:absolute;
		bottom:0px;
		left:0;
		background:#e67e22;
		color:#FFF;
		min-width:100%;
		text-transform:lowercase;
		font-weight:normal;
		text-align:center;
	}
	.widget-area li .search { 
		display: none;
	}
	
	.widget-area li > ul {
        list-style-type: none;
		min-width:180px;
		left:70px;
	}
	.widget-area li:hover > ul {
		min-width:180px;
		left:50px;
	}
	.widget-area li ul li > ul, .widget-area li ul li ul li > ul {
		min-width:150px;
	}
	.widget-area li ul li:hover > ul {
		left:180px;
		min-width:150px;
	}
	.widget-area li ul li ul li > ul {
		left:35px;
		top: 45px;
		border:0;
		border-top:4px solid #e67e22;
	}
	.widget-area li ul li ul li > ul:before {
		left:30px;
		top: -9px;
		border:0;
		border-bottom:5px solid #e67e22;
		border-left:5px solid transparent;
		border-right:5px solid transparent;
	}
	.widget-area li ul li ul li:hover > ul {
		left:30px;
		min-width:150px;
		top: 35px;
	}
	.widget-area li ul a {
		font-size:12px;
	}
	.widget-area li ul a i {
		font-size:14px;
	}
	
}

@media only screen and (max-width: 479px) {
    .widget-area { 
		width: 50px;
	}
	.widget-area li a { 
		position: relative;
		padding: 12px 16px;
		height:20px;
	}
	.widget-area li a small { 
		display: none;
	}
	.widget-area li a strong { 
		display: none;
	}
	.widget-area li a:hover strong,.widget-area li a.active strong {
		display:block;
		font-size:10px;
		padding:3px 0;
		position:absolute;
		bottom:0px;
		left:0;
		background:#e67e22;
		color:#FFF;
		min-width:100%;
		text-transform:lowercase;
		font-weight:normal;
		text-align:center;
	}
	.widget-area li .search { 
		display: none;
	}
	
	.widget-area li > ul {
		min-width:180px;
		left:70px;
	}
	.widget-area li:hover > ul {
		min-width:180px;
		left:50px;
	}
	.widget-area li ul li > ul, .widget-area li ul li ul li > ul {
		min-width:150px;
	}
	.widget-area li ul li:hover > ul {
		left:180px;
		min-width:150px;
	}
	.widget-area li ul li ul li > ul {
		left:35px;
		top: 45px;
		border:0;
		border-top:4px solid #e67e22;
	}
	.widget-area li ul li ul li > ul:before {
		left:30px;
		top: -9px;
		border:0;
		border-bottom:5px solid #e67e22;
		border-left:5px solid transparent;
		border-right:5px solid transparent;
	}
	.widget-area li ul li ul li:hover > ul {
		left:30px;
		min-width:150px;
		top: 35px;
	}
	.widget-area li ul a {
		font-size:12px;
	}
	.widget-area li ul a i {
		font-size:14px;
    }
    .widget-area ul li {
        list-style-type: none;
    }
    
}
.widget-area ul li {
    list-style-type: none;
}
.widget-title {
  max-width: max-content;
  padding: 3%;
}

/* site title */

.site-title{
  padding: 0px;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  text-decoration: none;
  }
.site-title a:hover{
  color:#e67e22;
  text-decoration: none;
}
.site-title :link a{
  color:#e67e22;

}
.site-title :visited{
	color: #404040;
}

.site-title :active{

}
/* footer */

 
.site-footer {
  color: white;
  background-color: rgb(83, 75, 60);
  display: block;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  bottom:0;
}

.footer-widget-title {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  color: rgb(255, 253, 253);
  text-align: left;
  height: 36px;
  position: relative;
}
#footer-sidebar ul li a:hover{
color: #ac8768;
text-decoration: none;
}

#footer-sidebar{
  color: rgb(255, 255, 255);
}
#footer-sidebar ul li a{
  color: rgb(255, 255, 255);
}
#prev a{
  color: rgb(255, 255, 255);
}

.footer-widget ul li{
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  color: rgb(255, 255, 255);
  text-align: left;
  height: 36px;
  position: relative;
  list-style-type: none;
}
.site-info a:visited{ 
  color: rgb(255, 255, 255);
}

/* entry title */

.entry-title{}
.entry-title a:hover{
		color:#e67e22;
		text-decoration: none;
	  }
	  .entry-title :link a{
		color:#e67e22;
	  
	  }
	  .entry-title :visited{
		  color: #404040;
	  }
	  
